{% extends "layout.njk" %}

{% block head %}
    <title>Anime - Thiago Murakami</title>
{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Aulas</h1>
    </div>

    <section class="cards">

        {% for item in items %}
        <div class="card" id="{{item.id}}">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/{{item.id}}/hqdefault.jpg" alt="{{item.title}}">
            </div>
            <div class="card_content">
                <p>{{item.title}}</p>
            </div>
            <div class="card_info">
                <p>{{item.duration}}</p>
                <p class="card_price">{{item.price}}</p>
            </div>
        </div>
        {% endfor %}}
 
        {# <div class="card" id="kqiTpgdvH1U">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/kqiTpgdvH1U/hqdefault.jpg" alt="SAO">
            </div>
            <div class="card_content">
                <p>Swort Art Online</p>
            </div>
            <div class="card_info">
                <p>30 sec</p>
                <p class="card_price">Free</p>
            </div>
        </div>

        <div class="card" id="na541acj5oE">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/na541acj5oE/hqdefault.jpg" alt="SAO">
            </div>
            <div class="card_content">
                <p>Swort Art Online</p>
            </div>
            <div class="card_info">
                <p>30 sec</p>
                <p class="card_price">Free</p>
            </div>
        </div>

        <div class="card" id="kqiTpgdvH1U">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/kqiTpgdvH1U/hqdefault.jpg" alt="SAO">
            </div>
            <div class="card_content">
                <p>Swort Art Online</p>
            </div>
            <div class="card_info">
                <p>30 sec</p>
                <p class="card_price">Free</p>
            </div>
        </div>

        <div class="card" id="kqiTpgdvH1U">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/kqiTpgdvH1U/hqdefault.jpg" alt="SAO">
            </div>
            <div class="card_content">
                <p>Swort Art Online</p>
            </div>
            <div class="card_info">
                <p>30 sec</p>
                <p class="card_price">Free</p>
            </div>
        </div>

        <div class="card" id="1z50Fe5ErtM">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/1z50Fe5ErtM/hqdefault.jpg" alt="SAO">
                
            </div>
            <div class="card_content">
                <p>Swort Art Online</p>
            </div>
            <div class="card_info">
                <p>30 sec</p>
                <p class="card_price">Free</p>
            </div>
        </div> #}

    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <span class="material-icons">close</span>
            </a>
            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="script.js"></script>

{% endblock %}